.header {}


.header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.header__text {
	width: 465px;
}

.header__title {
	position: relative;
	z-index: 9;
	margin-right: -160px;

	font-weight: 700;
	font-size: 54px;
	line-height: 1.46;
	color: #323232;
}

.header__text p {
	line-height: 1.69;
	margin-bottom: 1em;
}

.header__img img {
	border-radius: 40px 40px 40px 0;
}

.header__form {
	margin-top: 42px;
}