.objects {
	padding-top: 100px;
	padding-bottom: 45px;
}


.objects__row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow-x: hidden;

	@media (max-width: 1495px) {
		justify-content: flex-end;
	}
}

.objects__img {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.objects__text {
	max-width: 693px;
	padding-left: 181px;
	flex-shrink: 0;
	padding-right: 150px;

	p+p {
		margin-top: 20px;
	}
}

.objects__title {
	margin-bottom: 20px;
}

.objects__button {
	margin-top: 40px;
}